body {
  background-image: url("https://cdn.designbyhumans.com/user_store_banner/2838936.png") 
}

/* http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/squares.png */

  
.box {
  display: inline-block;       
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
  }

  .mini-box{
    display: inline-block;
    
    width: 5px;
    height: 5px;
    margin-left: -1px;
    border-top: -1px;
    
  
  }

.off {
  background-color: lightgray;
}

.on {
  background-color: green;
}
  
.box:hover { 
  background: #00CCFF;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
  margin-top: 20px;
}
  
h1, h2, h3, h4 {
  color: white;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}

.green
{
  color: lawngreen;
}

.white
{
  color: white;
}